@import "../layout/variables";

:global {
  .Dropdown-root {
    position: relative;
  }

  .is-open .Dropdown-control, .is-open .Dropdown-menu {
    border-color: #aaaaaa
  }

  .Dropdown-control {
    position: relative;
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: .05s;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .Dropdown-placeholder {
    color: darken($border-color, 20)
  }

  .Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 0
  }

  .is-open .Dropdown-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }

  .Dropdown-menu {
    background-color: white;
    border: 1px solid $border-color;
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 1;
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 10px;
    color: #969da5;
    font-size: 12px;
    text-transform: capitalize;
  }

  .Dropdown-option {
    box-sizing: border-box;
    color: $text-primary;
    font-size: 14px;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
    height: 40px;
    line-height: 25px;
  }

  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .Dropdown-option:hover {
    background-color: lighten($border-color, 6);
  }

  .Dropdown-option.is-selected {
    background-color: #f2f9fc;
    color: #333;
  }

  .Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }

  .Dropdown-didselect {
    color: $text-primary
  }
}