@import "../../../layout/variables";

.startEvaluationContainer {
  margin-right: 12px;
  margin-left: auto;
}

.applicantsContainer {
  > div {
    &:not(:first-of-type) {
      margin-top: 15px;
    }

    padding: 15px;
    background: darken(#fff, 2);

    p {
      margin: 0;
    }
  }
}

.evaluationContainer {
  .pdsJob {
    display: flex;
    height: 400px;
    margin-top: 8px;

    .annotation {
      opacity: .75
    }

    > div {
      background-color: rgb(250, 250, 250);
      width: 100%;
      border-radius: 1px;
      padding: 15px;

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .hr {
        width: 100%;
        height: 1px;
        background-color: rgb(240, 240, 240);
        margin-top: 15px;
        margin-bottom: 8px;

        &:first-child {
          margin-top: 0;
        }
      }

      &:first-child {
        margin-right: 15px;
      }

      p {
        margin: 0;
        font-size: 14px
      }
    }
  }

}

p.annotation {
  font-size: 14px;
  margin: 0;
  color: #737373;
  font-weight: 600;

  &:not(:first-child) {
    margin-top: 25px
  }
}

.uploadContainer {
  border: solid 1px $border-color;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color .1s;

  &.valid {
    border-color: $primary-color;

    .validity {
      visibility: visible !important;
    }
  }

  input {
    display: none;
  }

  &:hover:not(.valid) {
    border-color: darken($border-color, 15)
  }

  .iconContainer {
    height: 150px;
    position: relative;

    .validity {
      position: absolute;
      top: 10px;
      right: 10px;
      visibility: hidden;
    }
  }

  .bottom {
    border-top: 1px solid $border-color;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      font-size: 14px;
      text-align: center;
    }
  }
}

.modal {
  z-index: 4;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px 0;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.preview) {
      width: 100px;
      color: white
    }
  }

  .preview {
    flex-grow: 1;
    background: white;
    border-radius: 2px;
    overflow: hidden;
  }
}

.demo {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
  margin: 0 auto;
}
.demo th {
  border: 1px solid #C0C0C0;
  padding: 5px;
  background:#F0F0F0;
}
.demo td {
  border: 1px solid #C0C0C0;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.generate {
  height: 25px;
  width: 35px;
  border: solid 1px $border-color;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;

  > div:not(.context) {
    background: rgb(200, 200, 200);
    width: 4px;
    height: 4px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 3px
    }
  }

  .context {
    position: absolute;
    right: -1px;
    top: -1px;
    background: white;
    width: 300px;
    border: solid 1px $border-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    p {
      margin: 0 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      padding: 10px 20px;

      &:hover {
        background: $primary-color;
        color: white
      }
    }
  }
}