@import "../../../layout/variables";

.startEvaluationContainer {
  margin-right: 12px;
  margin-left: auto;
}

.applicantsContainer {
  > div {
    &:not(:first-of-type) {
      margin-top: 15px;
    }

    padding: 15px;
    background: darken(#fff, 2);

    p {
      margin: 0;
    }
  }
}

.evaluationContainer {
  $background: transparentize($valid-color, .1);

  .pdsJob {
    display: flex;
    margin-top: 8px;

    p {
      margin: 0;
    }

    > div {
      width: 100%;
      border-radius: 2px;
      border: solid 1px $border-color;
      padding: 15px;

      > div {
        position: relative;
      }

      > div:not(:first-child) {
        margin-top: 18px
      }

      .dotDotDot {
        margin-left: 10px;
        border:none;
        border-right: 2px dotted rgb(235, 235, 235);
        width: 1px;
        box-sizing: border-box;
        flex: 1
      }

      .summary {
        margin-top: 12px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(248, 248, 248);
        border-radius: 2px;

        &.summaryValid {
          background-color: $valid-color;

          * {
            color: white;
          }
        }

        img {
          height: 30px;
          opacity: .3;
        }

        p {
          font-size: 16px;
          margin-top: 2px;
          font-weight: 700;
          color: transparentize($text-primary, .3);

          span {
            color: $text-primary;
            font-weight: 700;
          }
        }
      }

      > div {
        display: flex;
        flex-direction: column;
      }

      > div > div {
        display: flex;
        align-items: flex-start;
        margin-top: 15px;

        //opacity of icons
        img {
          opacity: .6;
        }

        p {
          margin-top: -4px;
          margin-left: 10px;
          font-size: 14px;

          span {
            color: $primary-color;
            font-weight: 600
          }
        }
      }

      .hr {
        width: 100%;
        height: 1px;
        background-color: rgb(240, 240, 240);
        margin-top: 15px;
        margin-bottom: 8px;

        &:first-child {
          margin-top: 0;
        }
      }

      &:first-child {
        margin-right: 15px;
      }

      p {
        margin: 0;
        font-size: 14px
      }
    }
  }

}

p.annotation {
  font-size: 14px;
  margin: 0;
  color: #737373;
  font-weight: 600;

  &:not(:first-child) {
    margin-top: 25px
  }

  &.valid {
    color: $valid-color
  }
}

.uploadContainer {
  border: solid 1px $border-color;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color .1s;

  &.valid {
    border-color: $primary-color;

    .validity {
      visibility: visible !important;
    }
  }

  input {
    display: none;
  }

  &:hover:not(.valid) {
    border-color: darken($border-color, 15)
  }

  .iconContainer {
    height: 150px;
    position: relative;

    .validity {
      position: absolute;
      top: 10px;
      right: 10px;
      visibility: hidden;
    }
  }

  .bottom {
    border-top: 1px solid $border-color;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      font-size: 14px;
      text-align: center;
    }
  }
}

.modal {
  z-index: 4;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 50px 0;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.preview) {
      width: 100px;
      color: white
    }
  }

  .preview {
    flex-grow: 1;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &:hover {
      .documentName {
        opacity: 1;
      }
    }
  }

  .imagePreview {
    width: 100%;
    height: 100%;
    background: black;

    img {
      height: 100%;
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }

  .documentName {
    position: absolute;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity ease-in .1s;
    padding: 20px;

    p {
      color: white;
      margin: 0;
      font-size: 20px;
      font-weight: 600;

      &:nth-of-type(2) {
        font-weight: 400;
        font-size: 14px;
        margin-top: 4px;
        opacity: .5
      }
    }
  }

  .navigation {
    padding: 20px;
    cursor: pointer;

    img {
      opacity: .2;
      transition: opacity ease .2s;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.remarksModal {
  z-index: 4;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.demo {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
  margin: 0 auto;
}
.demo th {
  border: 1px solid #C0C0C0;
  padding: 5px;
  background:#F0F0F0;
}
.demo td {
  border: 1px solid #C0C0C0;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.generate {
  height: 25px;
  width: 35px;
  border: solid 1px $border-color;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;

  > div:not(.context) {
    background: rgb(200, 200, 200);
    width: 4px;
    height: 4px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 3px
    }
  }

  .context {
    position: absolute;
    right: -1px;
    top: -1px;
    background: white;
    width: 300px;
    border: solid 1px $border-color;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    p {
      margin: 0 !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      padding: 10px 20px;

      &:hover {
        background: $primary-color;
        color: white
      }
    }
  }
}

.form {
  background: white;

  &:not(:first-child) {
    margin-top: 15px;
  }

  .header {
    border: 1px solid $border-color;
    height: 42px;
    display: flex;
    align-items: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    > p {
      font-weight: 600;
      font-size: 18px;
      margin: 0 12px;

      &.goBack {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .formBody {
    border: 1px solid $border-color;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    .footer {
      padding: 12px;
      display: flex;
      border-top: solid 1px $border-color;
      justify-content: flex-end;

      > input:first-child {
        margin-right: 12px;
      }
    }
  }
}