@import "../layout/variables";
@import "../layout/mixins";

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  z-index: 2;

  .inside {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-around;

    .logo {
      display: flex;
      align-items: center;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        .com, .pms {
          margin: 0;
          color: $text-primary;
        }

        .com {
          font-family: 'Cinzel', sans-serif;
          font-size: 24px;
        }

        .pms {
          font-size: 14px;
          font-family: 'Segoe UI', sans-serif;
          opacity: .6;
        }
      }
    }

    .rightSide {
      margin-left: 260px;

      a {
        font-size: 14px;
        color: $text-primary
      }

      .li, .c {
        padding: 8px 10px;
        display: inline-block;
        margin: 0 5px;
      }

      .li {
        a {
          color: $text-primary
        }
      }

      .c {
        background: white;
        border-radius: 1px;
        margin-right: 0;
        box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.4);
        transition: .3s;

        &:hover {
          box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.8);
        }

        a {
          color: $text-primary
        }
      }

    }
  }
}

.main {
  height: calc(100vh - 20px);
  width: 100%;
  padding-top: 20px;
  background: radial-gradient(ellipse at center, #f5f5f5 0%, #ebebeb 99%);
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  min-height: calc(600px);

  .topRightLine {
    position: absolute;
    top: -150px;
    right: -30px;
    width: 200px;
    height: 500px;
    transform: rotate(-45deg);
    background: $primary-color;
  }

  .middleLine {

  }

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    z-index: 1;

    .title, .desc, .getStarted {
      margin: 20px 0
    }

    p {
      color: $text-primary;
      margin: 0;
    }

    .title {
      p {
        font-size: 50px;
      }
    }

    .desc {
      p {
        font-size: 18px;
        font-weight: 300 !important;
      }
    }

    .getStarted {
      .button {
        display: inline-block;
        background: #ffdf35;
        border-radius: 1px;
        box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.4);
        transition: .3s;
        cursor: pointer;

        &:hover {
          background: #f0d82d;
          box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.8);
        }

        p {
          color: $text-primary;
          font-size: 14px;
          margin: 10px;
          font-weight: 600;
          -moz-user-select: none;
        }
      }
    }
  }

  .right {
    z-index: 1;
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;

    .recentContainer {
      margin-right: 75px;

      p {
        margin: 0;
      }

      .recentTitle {
        font-size: 35px;
        font-weight: 600;
      }

      .recentDesc {
        font-size: 20px;
        margin-top: 10px;
      }

      .recents {
        display: flex;
        margin-top: 20px;

        .recent {
          position: relative;
          border-radius: 2px;
          border: solid 1px $border-color;
          cursor: pointer;
          transition: border-color .1s;

          &:not(:last-of-type) {
            margin-right: 20px;
          }

          &:hover {
            border-color: darken($border-color, 10);

            .recentClose {
              opacity: 1;

              &:hover {
                border-color: darken($border-color, 10);

                > img {
                  opacity: .6
                }
              }
            }
          }

          .recentClose {
            position: absolute;
            display: flex;
            background: #f5f5f5;
            border-radius: 2px;
            top: 5px;
            right: 5px;
            padding: 4px;
            border: solid 1px $border-color;
            opacity: 0;
            transition: .1s;

            > img {
              opacity: .3;
            }
          }

          .recentAvatar {
            height: 155px;
            width: 155px;
            display: flex;
            justify-content: center;
          }

          .recentName {
            padding: 15px;
            font-weight: 600;
            transition: border-color .1s;
            text-align: center;
          }
        }
      }
    }
  }
}