@import "../layout/variables";
@import "../layout/mixins";

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  z-index: 2;

  .inside {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
    position: relative;

    .logo {
      display: flex;
      align-items: center;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        .com, .pms {
          margin: 0;
          color: $text-primary;
        }

        .com {
          font-family: 'Cinzel', sans-serif;
          font-size: 24px;
        }

        .pms {
          font-size: 14px;
          font-family: 'Segoe UI', sans-serif;
          opacity: .6;
        }
      }
    }

    .rightSide {
      margin-left: 260px;

      a {
        font-size: 14px;
        color: $text-primary
      }

      .li, .c {
        padding: 8px 10px;
        display: inline-block;
        margin: 0 5px;
      }

      .li {
        a {
          color: $text-primary
        }
      }

      .c {
        background: white;
        border-radius: 1px;
        margin-right: 0;
        box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.4);
        transition: .3s;

        &:hover {
          box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.8);
        }

        a {
          color: $text-primary
        }
      }

    }
  }
}

.main {
  height: calc(100vh - 20px);
  width: 100%;
  padding-top: 20px;
  background: radial-gradient(ellipse at center, #f5f5f5 0%, #ebebeb 99%);
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  min-height: calc(600px);

  .topRightLine {
    position: absolute;
    top: -150px;
    right: -30px;
    width: 200px;
    height: 500px;
    transform: rotate(-45deg);
    background: $primary-color;
  }

  .middleLine {

  }

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    z-index: 1;

    .title, .desc, .getStarted {
      margin: 20px 0
    }

    p {
      color: $text-primary;
      margin: 0;
    }

    .title {
      p {
        font-size: 50px;
      }
    }

    .desc {
      p {
        font-size: 18px;
        font-weight: 300 !important;
      }
    }

    .getStarted {
      .button {
        display: inline-block;
        background: #ffdf35;
        border-radius: 1px;
        box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.4);
        transition: .3s;
        cursor: pointer;

        &:hover {
          background: #f0d82d;
          box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.8);
        }

        p {
          color: $text-primary;
          font-size: 14px;
          margin: 10px;
          font-weight: 600;
          -moz-user-select: none;
        }
      }
    }
  }

  .right {
    z-index: 1;
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;

    .recentContainer {
      margin-right: 75px;

      p {
        margin: 0;
      }

      .recentTitle {
        font-size: 35px;
        font-weight: 600;
      }

      .recentDesc {
        font-size: 20px;
        margin-top: 10px;
      }

      .recents {
        display: flex;
        margin-top: 20px;

        .recent {
          position: relative;
          border-radius: 2px;
          border: solid 1px lighten($border-color, 2);
          cursor: pointer;
          transition: border-color .1s;
          overflow: hidden;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &:hover {
            border-color: darken($border-color, 10);

            .recentClose {
              opacity: 1;

              &:hover {
                border-color: darken($border-color, 10);

                > img {
                  opacity: .6
                }
              }
            }
          }

          .recentClose {
            position: absolute;
            display: flex;
            background: #f5f5f5;
            border-radius: 2px;
            top: 5px;
            right: 5px;
            padding: 4px;
            border: solid 1px $border-color;
            opacity: 0;
            transition: .1s;

            > img {
              opacity: .3;
            }
          }

          .recentAvatar {
            height: 155px;
            width: 155px;
            display: flex;
            justify-content: center;

            .recentAvatarInitials {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .recentName {
            padding: 15px;
            font-weight: 600;
            transition: border-color .1s;
            text-align: center;
            background-color: white;
            box-sizing: border-box;
            border-top: 1px solid $border-color;
          }
        }

        .addAccount {
          width: 155px;
          border: solid 1px lighten($border-color, 2);
          border-radius: 2px;
          transition: border-color .1s;

          &:hover {
            border-color: darken($border-color, 10);
          }

          .iconContainer {
            height: 155px;
            display: flex;
            position: relative;
            background: #fafafa;

            .vertical, .horizontal {
              background: $primary-color;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
              border-radius: 1px;
            }

            .vertical {
              height: 40px;
              width: 6px;
            }

            .horizontal {
              height: 6px;
              width: 40px;
            }
          }

          p {
            padding: 15px;
            text-align: center;
            font-weight: 600;
            box-sizing: border-box;
            border-top: solid 1px lighten($border-color, 6);
            background: white
          }
        }
      }
    }
  }
}

.quickLogin {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .form {
    background: white;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    overflow: hidden;

    .title {
      background-color: $primary-color;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.1'%3E%3Cpath fill='%232b6ae6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23275fcd' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232254b5' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%231e499d' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23193e86' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23183a7e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23163776' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2315336e' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23133067' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23122c5f' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;

      p {
        font-size: 40px;
        margin: 0;
        padding: 30px;
        color: white;
      }
    }

    .inside {
      padding: 10px 30px 30px;

      .quickLoginAvatar {
        display: flex;
        justify-content: center;
        margin-top: -60px;

        > .recent {
          position: relative;
          border-radius: 2px;
          border: solid 1px $border-color;

          .recentAvatar {
            height: 155px;
            width: 155px;
            display: flex;
            justify-content: center;

            .recentAvatarInitials {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: default;
              -moz-user-select: none;
            }
          }

          .recentName {
            padding: 15px;
            margin: 0;
            font-weight: 600;
            transition: border-color .1s;
            text-align: center;
          }
        }
      }

      .helper {
        display: flex;
        align-items: center;

        p {
          font-size: 14px;
          margin: 0 0 0 8px;
          opacity: .8;

          a {
            color: black;
            font-weight: normal;
          }
        }

        p:last-of-type {
          opacity: 0.5;
          margin-right: 0;
          margin-left: auto;
          cursor: pointer;
          transition: .1s;

          &:hover {
            opacity: .8;
          }
        }
      }

      .create {
        text-align: center;
        line-height: 1;
        font-size: 14px;
      }
    }

    .emailContainer {
      display: flex;
      align-items: center;
      height: 350px;

      .left {
        margin: 0 40px;
      }

      .right {
        max-width: 460px;
        margin-right: 40px;

        p {
          text-align: center;
        }

        .emailTitle {
          font-size: 40px;
          font-weight: 600;
          margin: 20px 0;
        }

        .emailDescription {
          line-height: 1.5;

          span {
            color: #117CE6;
            font-weight: 600
          }
        }
      }
    }

    .resendContainer {
      background-color: rgba(black, 0.05);

      p {
        padding: 20px;
        margin: 0;
        text-align: center;
      }

      .resendButton {
        cursor: pointer;
        color: #117CE6;
      }
    }

    .loginAsContainer {
      display: flex;
      flex-direction: column;
      width: 500px;

      .loginAsTitle {
        height: 48px;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;

        p {
          margin: 0;
          margin-left: 20px;
          font-size: 20px;
          font-weight: 600;
        }
      }

      .roles {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;

        .box {
          height: 200px;
          width: 200px;
          border: 1px solid $border-color;
          border-radius: 2px;
          cursor: pointer;
          transition: border-color .1s;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            margin: 0;
            margin-top: 10px;
            font-size: 14px;
            opacity: .5;
            transition: .1s;
          }

          &:hover {
            border-color: darken($border-color, 20);

            p {
              opacity: 1;
            }
          }

          &:first-of-type {
            margin-right: 20px;
          }

          &.roleSelected {
            outline: solid 2px $primary-color;
            outline-offset: -1px;
            -moz-outline-radius: 2px;

            p {
              opacity: 1;
            }
          }
        }
      }

      .button {
        display: flex;
        margin-top: -20px;
        margin-bottom: 20px;

        input {
          margin-left: auto;
          margin-right: 20px
        }
      }
    }
  }
}

p.initials {
  margin: 0;
  color: white;
  font-weight: 600;
  font-size: 82.6px;
  -moz-user-select: none;
}