@import "../layout/variables";

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .inside {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-around;

    .logo {
      display: flex;
      align-items: center;
    }

    .pms {
      font-weight: 700;
      font-size: 20px;
      margin: 0 20px;
      font-family: 'Segoe UI', sans-serif;
      color: white;
      -moz-user-select: none;
    }

    .rightSide {
      margin-left: 260px;

      .li, .c {
        padding: 8px 10px;
        display: inline-block;
        margin: 0 5px;

        a {
          font-size: 14px;
        }
      }

      .li {
        a {
          color: white
        }
      }

      .c {
        background: white;
        border-radius: 1px;
        margin-right: 0;
        box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.4);
        transition: .3s;

        &:hover {
          box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.8);
        }

        a {
          color: $primary-color
        }
      }

    }
  }
}

.main {
  height: calc(100vh - 20px);
  width: 100%;
  padding-top: 20px;
  background: radial-gradient(ellipse at center, #3076ff 0%, #122e87 99%);
  display: flex;
  justify-content: center;

  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;

    .title, .desc, .getStarted {
      margin: 20px;
    }

    p {
      color: white;
      margin: 0;
    }

    .title {
      p {
        font-size: 50px;
      }
    }

    .desc {
      p {
        font-size: 18px;
        font-weight: 300 !important;
      }
    }

    .getStarted {
      .button {
        display: inline-block;
        background: #ffdf35;
        border-radius: 1px;
        box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.4);
        transition: .3s;
        cursor: pointer;

        &:hover {
          background: #f0d82d;
          box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.8);
        }

        p {
          color: black;
          font-size: 14px;
          margin: 10px;
          font-weight: 600;
          -moz-user-select: none;
        }
      }
    }
  }

  .right {
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}