@import '../layout/variables';

.input {
  position: relative;
  margin: 20px 0;
  transition: .1s;
  border-radius: 1px;

  label {
    position: absolute;
    margin-left: 5px;
    padding: 0 2px;
    top: 6px;
    opacity: 0;
    transition: .1s;
    z-index: -1;

    &.shown {
      font-size: 13px;
      top: -8px;
      opacity: 1;
      background: white;
      color: #7d7d7d;
      z-index: 0;
    }
  }

  input {
    height: 40px;
    width: 100%;
    padding: 0 8px;
    border: none;
    box-sizing: border-box;

    &::placeholder {
      font-size: 14px;
      opacity: 0.3
    }

    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
  }

  .show {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin: 0;
      font-size: 12px;
      opacity: .5;
      padding: 0 8px;
      -moz-user-select: none;
    }
  }

  .validationLabel {
    position: absolute;
    bottom: 0;
    top: -8px;
    right: 8px;
    padding: 0 2px;
    background: white;

    p {
      margin: 0;
      font-size: 13px;
    }

    &.valid {
      p {
        color: $valid-color
      }
    }

    &.error {
      p {
        color: $error
      }
    }
  }
}