@import '../layout/variables';

.div {
  position: relative;
  margin: 20px 0;
  border: solid 1px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;

  &.valid {
    border-color: $valid-color !important;
  }

  &.hasValue {
    label {
      top: -8px;
      z-index: 1;
      background-color: white;
      font-size: 12px;
    }
  }

  label {
    font-size: 14px;
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
    padding: 0 3px;
    transition: .1s;
    color: #696969;

    &.labelError {
      color: $error
    }

    &.labelValid {
      color: $valid-color
    }
  }

  input {
    padding: 5px 10px;
    height: 40px;
    width: 100% !important;
    box-sizing: border-box;
    border: none;
    transition: .1s;

    &::placeholder {
      font-size: 14px;
      color: #6e6e6e;
    }

    &:focus {
      outline: none;
    }

    &.error {
      box-shadow: 0 0 0 1px $error;
    }
  }

  .validLabel {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;

    p {
      font-size: 12px;
      white-space: nowrap;
      margin: 0;
      color: $valid-color
    }
  }

  .message {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-weight: 400;
      background: $error;
      padding: 4px;
      border-radius: 1px;
      white-space: nowrap;
      color: white;
      position: relative;
      box-shadow: 0 2px 1px 0 rgba(0,0,0,0.08);

      &.error {
        font-size: 12px
      }

      &:after {
        content: '';
        position: absolute;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $error;
        left: -4px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-radius: 1px;
      }
    }
  }
}