@import '../layout/variables';

.input {
  position: relative;
  margin: 20px 0;
  transition: border-color .1s;
  border-radius: 2px;
  box-sizing: border-box;

  &.hideSpin {
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  &.valid {
    label {
      color: $valid-color
    }
  }

  &.error {
    label {
      color: $error
    }
  }

  label {
    position: absolute;
    margin-left: 5px;
    padding: 0 2px;
    top: 6px;
    opacity: 0;
    transition: .1s;
    color: #7d7d7d;
    z-index: -1;

    &.shown {
      font-size: 13px;
      top: -8px;
      opacity: 1;
      background: white;
      z-index: 0;
    }
  }

  .characterLimit {
    position: absolute;
    top: 12px;
    right: 0;
    padding: 0 8px;
    display: flex;
    align-items: center;

    &.characterLimitRed p {
      color: $error
    }

    p {
      margin: 0;
      color: $valid-color;
      font-size: 12px;
    }
  }

  input {
    height: 38px;
    width: 100%;
    padding: 0 8px;
    border: none;
    box-sizing: border-box;

    &::placeholder {
      font-size: 14px;
      opacity: 0.3
    }

    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
  }

  .show {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p {
      margin: 0 auto;
      font-size: 12px;
      opacity: .5;
      padding: 0 8px;
      -moz-user-select: none;
    }
  }

  .validationLabel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 12px;
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 10px;

    img {
        height: 12px
    }
  }

  .passwordStrengthContainer {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;

    div {
      height: 100%;
      transition: .3s
    }
  }
}