@import "../../layout/variables";

.sidebar {
  width: 100%;

  .registrationTitle {
    border-bottom: #ebebeb solid 1px;
    margin-bottom: 25px;

    p {
      margin: 0 0 8px;
    }

    .title {
      font-size: 24px;
    }

    .details {
      font-size: 14px;
      color: $text-secondary;
      margin-bottom: 16px;
    }
  }

  .tabs {
    .tab {
      padding: 10px 0;
      align-items: center;
      position: relative;
      display: flex;
      cursor: pointer;
      -moz-user-select: none;


      &.active {
        //.selector {
        //  height: 25px;
        //  width: 3px;
        //  background: $primary-color;
        //  margin-left: -15px;
        //  margin-right: 12px;
        //}

        p {
          font-weight: 600;
          color: $text-primary
        }
      }

      p {
        margin: 0;
        font-size: 18px;
        color: $text-secondary;
      }

      img {
        margin-left: auto;
        margin-right: 0;
      }
    }

  }
}