@import '../layout/variables';
@import '../layout/mixins';

.btn {
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.8;
  color: white;
  padding: 2px 0;
  border: none;
  transition: .05s;
  @include modifier($button-color, $amount: 65);
  font-size: 14px;



  &.primary {
    @include modifier($primary-color);
  }

  &.tertiary {
    @include modifier(#d65d5a);
    color: white;
  }

  &.cancel {
    @include modifier(#ebebeb);
    color: #737373
  }
}

