@import '../layout/variables';
@import '../layout/mixins';

.btn {
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.8;
  color: white;
  padding: 2px 0;
  border: solid 1px transparent;
  transition: .05s;
  @include modifier($button-color, $amount: 65);
  font-size: 14px;



  &.primary {
    @include modifier($primary-color);
  }

  &.tertiary {
    @include modifier(#d65d5a);
    color: white;
  }

  &.cancel {
    background-color: lighten(#ebebeb, 5);
    border-color: $border-color;
    color: #393b4c;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background: darken(#e6e6e6, 4);
    }

    &:disabled {
      background: lighten(#ebebeb, 25);
      cursor: auto;
    }
  }
}

