@import "../../layout/variables";

.sideBar {
  width: 199px;
  height: calc(100vh - 50px);
  border-right: 1px solid $border-color;
  position: fixed;
  top: 50px;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .header {
    height: 30px;
    display: flex;
    align-items: center;

    > p {
      font-size: 12px;
      font-weight: 400;
      margin: 0 0 0 12px;
      color: #b9b9b9;
      padding: 0;
      cursor: auto;
    }
  }

  > div:not(.header) {
    padding-left: 15px;

    &:hover {
      background: lighten($border-color, 10)
    }
  }

  p {
    margin: 0;
    padding: 12px 10px;
    cursor: pointer;
    transition: background 50ms;
    font-size: 14px;
    color: #667379;
    width: 100%;
  }
}