@import "../../layout/variables";

.sideBar {
  position: fixed;
  border-left: solid 1px $border-color;
  top: 50px;
  right: 0;
  width: 200px;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  
  @media (max-width: 1200px) {
    left: 1000px
  }

  &.zIndex {
    z-index: 3;
  }

  .systemLogs {
    .header {
      height: 30px;
      display: flex;
      align-items: center;

      > p {
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 0 12px;
        color: #969da5
      }
    }

    .systemLogsItems {
      display: flex;
      flex-direction: column-reverse;

      .systemLogsItem {
        position: relative;
        padding: 0 12px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: background 50ms;
        cursor: pointer;
        position: relative;
        border-bottom: solid 1px lighten($border-color, 8);
        border-top: solid 1px transparent;

        &.selected {
          background-color: darken($border-color, 2) !important;
        }

        &:first-of-type {
          border-top: solid 1px lighten($border-color, 8);
        }

        .event {
          position: absolute;
          top: 5px;

          p {
            margin: 0;
            font-size: 14px;
            -moz-user-select: none;
            user-select: none;
            color: #667379;
            max-width: 180px;

            span:first-of-type {
              font-weight: 700;
            }

            span:not(:first-of-type) {
              font-weight: 600;
            }
          }
        }

        .time {
          position: absolute;
          bottom: 8px;

          p {
            margin: 0;
            color: #b9b9b9;
            font-size: 12px;
            -moz-user-select: none;
          }
        }

        &:hover {
          background-color: lighten($border-color, 6);

          .event {
            p {
              color: #5f5f5f
            }
          }
        }

        .popup {
          position: absolute;
          left: -315px;
          height: 300px;
          width: 270px;
          cursor: auto;
          background: white;
          border-radius: 2px;
          border: solid 1px $border-color;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
          z-index: 1;

          .triangle {
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            position: absolute;
            right: -6px;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 2px;
            background: white;
            border-top: solid 1px $border-color;
            border-right: solid 1px $border-color
          }
        }
      }

      .enter {
        opacity: 0;
        background: #ffedb7;
      }

      .enterActive {
        opacity: 1;
        background: none;
        transition: opacity ease .1s, background ease 4s;
      }
    }
  }
}