@import "../layout/variables";

.loadingButton {
  height: 32.8px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  transition: .2s ease;

  &.primary {
    background: lighten(#d65d5a, 25);
  }

  &.complete {
    background: $valid-color
  }

  p {
    margin: 0;
    color: white
  }
}