@import "../layout/variables";

.main {
  display: flex;
  justify-content: center;
  margin: 90px;

  p {
    margin: 0;
    text-align: center;
  }

  .container {
    background: white;
    width: 50vw;
    border-radius: 2px;
    border: solid 1px $border-color;
    padding: 20px;

    .title {
      font-size: 24px;
      font-weight: 600;
    }

    .sub {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 12px
    }

    a {
      font-weight: 400;
      font-size: 14px;
      margin: 0 auto;
    }
  }
}