.main {
  background: radial-gradient(ellipse at center, #3076ff 0%, #122e87 99%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    color: white;
    margin: 0;
    text-align: center;
  }

  p:first-of-type {
    font-size: 350px;
  }

  p:last-of-type {
    font-size: 20px;
    font-weight: lighter;

    a {
      color: white;
    }
  }
}