@import "../layout/mixins";
@import "../layout/variables";

.checked {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
}

.status {
  margin-top: auto;
  margin-bottom: 8px;
  pointer-events: none;
  padding: 0 !important;

  > p {
    margin: 0;
    box-sizing: border-box;
  }

  .progressP {
    font-size: 14px;
    color: $text-secondary;
    padding: 0 15px 2px;
  }

  .progressContainer {
    height: 15px;
    display: flex;
    align-items: center;

    .progressBar {
      height: 5px;
      width: 100%;
      background: #f5f5f5;
      margin: 0 15px;
      border-radius: 1px;
      overflow: hidden;

      .value {
        height: 100%;
        transition: width ease .1s;
        background: $primary-color;
      }
    }
  }
}