:global {
  .react-select__control:hover:not(.css-s4xjtr) {
    border-color: #e1e1e1;
  }

  .css-s4xjtr:hover {
    border-color: #aaaaaa !important;
  }

  .react-select__option {
    font-size: 14px !important;
  }
}