$primary-color: #3268f0;
$dark: #2C2F33;
$black: #23272A;
$very-black: #232323;
$input-border-color: #cdcdcd;
$error: #ff6975;
$button-color: #232323;
$valid-color: #30af60;
$text-primary: #232323;
$text-secondary: #b4b4b4;