@import "../../layout/variables";

.announcements {
  padding: 15px;

  display: flex;

  .left {
    width: 65%;
    min-width: 500px;

    .row {
      display: flex;

      .tile {
        &:not(:last-child) {
          margin-right: 12px
        }

        img {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }

        .details {
          transform: translateY(-3px);
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          border-left: solid 1px $border-color;
          border-bottom: solid 1px $border-color;
          border-right: solid 1px $border-color;
          padding: 10px;
          display: flex;
          flex-direction: column;

          p {
            font-size: 14px;
            font-weight: 400;
            margin: 10px 0;
          }

          .newsTitle {
            font-size: 14px;
            font-weight: 600;
            max-width: 178px;
            color: $primary-color;
            margin: 0;
          }

          .readMore {
            text-align: right;
            margin: 0;
            font-weight: 400;
            color: $text-primary;
            font-size: 14px;
          }
        }
      }

      .option {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 14px;
          text-align: center;
        }
      }
    }

    .announcement {
      padding: 6px 0;

      .announcementTitle {
        color: $text-primary
      }

      .info {
        color: #5f5f5f;
        margin-top: 2px
      }

      .preview {
        color: #afafaf
      }
    }
  }

  .right {
    margin-right: 0;
    margin-left: auto;
    width: 25%;

    p {
      font-size: 14px
    }

    .pastAnnouncements {
      width: 100%;

      .pastAnnouncement {
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}