@import "../../layout/variables";

.announcements {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);

  .container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 200px);
    min-width: 800px;
    height: 100%;

    .titleBar {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      transform: translateY(-1px);
      height: 48px;
      transition: transform cubic-bezier(.23,1,.32,1) 0.2s;
      display: flex;
      width: calc(100vw - 200px);
      align-items: center;
      min-width: 800px;
      background: white;

      &.bottom {
        transform: translateY(calc(100vh - (100px)));
      }

      p {
        margin: 0;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 600;
      }

      > input, a {
        margin-right: 20px;
        margin-left: auto;
      }
    }
  }
}