@import "../../../layout/variables";

.noApplicationContainer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}

.application {
  border: solid 1px $border-color;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color .1s;

  &.valid {
    border-color: $primary-color;

    .validity {
      visibility: visible !important;
    }
  }

  input {
    display: none;
  }

  &:hover:not(.valid) {
    border-color: darken($border-color, 15)
  }

  .iconContainer {
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      height: 60px;
      display: flex;
      align-items: center;

      > div {
        display: flex;
      }
    }

    .labelContainer {
      position: absolute;
      top: 6px;
      right: 6px;
      display: flex;
      align-items: flex-start;
    }

    .label {
      font-size: 10px;
      padding: 3px 6px;
      border-radius: 20px;
      color: white;
      border: solid 1px;
      margin: 0;
      font-weight: 600;

      &:not(:first-child) {
        margin-left: 5px;
      }

      &.green {
        background-color: transparentize(#00c23a, .95);
        color: darken(#00c23a, 8);
        border-color: #00c23a;
      }

      &.blue {
        background-color: transparentize($primary-color, .95);
        color: darken($primary-color, 8);
        border-color: $primary-color;
      }
    }
  }

  .bottom {
    border-top: 1px solid $border-color;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0 5px;
      font-size: 14px;
      text-align: center;
      font-weight: 600;
    }
  }
}