@import "../layout/variables";
@import "../layout/mixins";

.page {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
  box-sizing: border-box;
  min-width: 1200px !important;

  &.overflowHidden {
    overflow-y: hidden;
  }

  .sideBarTabs {
    display: flex;
    align-items: center;

    > div {
      height: 16px;
    }

    .icon {
      height: 16px;
    }
  }

  .active {
    color: $primary-color;
  }

  .container {
    position: absolute;
    left: 200px;
    right: 0;
    top: 50px;
    width: calc((100vw - 400px) - (100vw - 100%));
    min-width: 800px !important;

    &.fullWidth {
      width: calc((100vw - 200px) - (100vw - 100%));
    }

    &.zeroTop {
      top: 0
    }

    .titleBar {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      transform: translateY(-1px);
      height: 48px;
      transition: transform cubic-bezier(.23,1,.32,1) 0.2s;
      display: flex;
      align-items: center;
      min-width: 800px;
      background: white;
      position: fixed;
      top: 50px;
      left: 200px;
      width: calc(100vw - 400px - (100vw - 100%));
      z-index: 1;

      &.fullWidth {
        width: calc(100vw - 200px - (100vw - 100%))
      }

      &.bottom {
        transform: translateY(calc((100vh - 100px)));

        > input {
          margin-right: 20px;
          margin-left: 0;
        }
      }

      p {
        margin: 0 0 0 20px;
        font-size: 20px;
        font-weight: 600;
      }

      > a {
        color: #667379;
        font-weight: 400;
      }

      > input, a {
        margin-right: 20px;
        margin-left: auto;
        cursor: pointer
      }
    }

    .main {
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .pageMain, .pageMainNew {
        transition: transform cubic-bezier(.23,1,.32,1) .2s;

        &.bottom {
          transform: translateY(calc(100vh - (100px)));
        }

        &.top {
          transform: translateY(calc((100vh - (100px)) / -1));
        }
      }
    }

    .form {
      background: white;

      &:not(:first-child) {
        margin-top: 15px;
      }

      .header {
        border: 1px solid $border-color;
        height: 42px;
        display: flex;
        align-items: center;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        > p {
          font-weight: 600;
          font-size: 18px;
          margin: 0 0 0 12px;
        }

        .subtitle {
          color: #b8b8b8;
        }

        .formControl {
          font-size: 13px;
          font-weight: 400;
          margin-left: auto;
          margin-right: 12px;
          cursor: pointer;
          color: $primary-color;

          &.delete {
            color: #ff4839
          }
        }
      }

      .formBody {
        border: 1px solid $border-color;
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        .section:not(:last-child) {
          margin-bottom: 20px;
        }

        .input {
          &:not(:first-of-type) {
            margin-top: 15px;
          }

          > div {
            margin: 0
          }
        }

        .groupOfFields {
          border: solid 1px lighten($border-color, 3);
          border-radius: 2px;
          padding: 15px;
          position: relative;
          transition: .05s;

          &:not(:first-child) {
            margin-top: 15px;
          }

          > p.title {
            margin: 0;
            transition: .05s;
            font-size: 12px;
            font-weight: 600;
            padding: 0 2px;
            position: absolute;
            transform: translate(-8px, -22px);
            color: #969da5;
            background: white;
          }

          .fields {
            border: solid 1px lighten($border-color, 3);
            border-radius: 2px;
            padding: 15px;
            box-sizing: border-box;
            transition: .05s border-color;
            position: relative;
            overflow: hidden;

            &.add {
              border: dashed 1px $primary-color !important;

              > p:only-child {
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                transition: color .05s;
                color: $primary-color !important;

                span {
                  color: $primary-color;
                  cursor: pointer;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

            &.addActive {
              padding: 0 8px;
              display: flex;
              height: 48.1px;
              align-items: center;
              justify-content: center;

              > input {
                border: solid 1px $input-border-color;
                border-radius: 2px;
                height: 25px;
                width: 100%;
                padding: 0 6px;
                font-size: 14px;

                &:focus {
                  border-color: #aaaaaa;
                }
              }
            }

            .edit {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              background: rgba(0, 0, 0, 0.8);
              z-index: 1;
              cursor: pointer;
              transition: .05s opacity;
              opacity: 0;
              -webkit-text-decoration-style: unset;

              &:hover {
                opacity: 1;
              }

              > p {
                color: white;
                font-size: 14px;
                margin: 0;
                text-align: center;
                font-weight: 600;
              }
            }

            > p {
              margin: 0;
              font-size: 14px;

              &.onlyContent {
                font-size: 14px;
                color: $text-primary;
                text-align: center;
              }

              &.title {
                margin-bottom: 10px;
                font-size: 12px;
                font-weight: 400;
                color: #969da5;
              }
            }

            &:hover {
              border-color: darken($border-color, 5);
            }

            &:not(:first-of-type) {
              margin-top: 15px;
            }

            .description {
              margin-top: 6px;
              line-height: .8
            }
          }

          .list {
            > p {
              margin: 0;
              font-size: 14px;
              color: $text-primary;

              &:not(:last-child) {
                margin-bottom: 4px;
              }
            }
          }

          .clusters {
            .fields {
              margin-top: 15px;

              &.add {
                border: dashed 1px $primary-color;;

                > p {
                  margin: 0;
                  font-size: 14px;
                  font-weight: 600;
                  transition: color .05s;
                  color: $primary-color;

                  a {
                    color: $primary-color;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              p {
                color: $text-primary;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

