@import "../../../layout/variables";

.jobOpportunities {
  display: flex;
  flex-direction: column;

  > a {
    font-weight: 400;

    &:not(:first-child) {
      margin-top: 15px;
    }

    > div {
      padding: 15px;
      border-radius: 2px;
      cursor: pointer;
      transition: .05s border-color;
      background: darken(#fff, 2);

      &:hover {
        background: darken(#fff, 5)
      }

      p {
        margin: 0;
      }

      p.title {
        font-weight: 600;
      }

      p.subtitle {
        font-size: 14px;
        opacity: .4;
        font-weight: 600;
        margin-top: 3px
      }
    }
  }
}