label {
  position: absolute;
  margin-left: 5px;
  padding: 0 2px;
  top: 6px;
  opacity: 0;
  transition: .1s;
  color: #7d7d7d;
  z-index: -1;

  &.shown {
    font-size: 13px;
    top: -8px;
    opacity: 1;
    background: white;
    z-index: 1;
  }

  &.showLabel {
    font-size: 13px;
    top: -22px;
    font-weight: 600;
    opacity: 1;
    background: white;
    z-index: 1;
    margin-left: -3px;
  }
}