@import "../layout/variables";

.checkboxContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: darken(#fff, 3);
    box-shadow: 0 0 0 5px darken(#fff, 3);
  }

  .checkbox {
    width: 14px;
    height: 14px;
    border: $input-border-color 1px solid;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .02s;

    &:not(:only-child) {
      margin-right: 8px;
    }

    &.selected {
      background: $primary-color;
      border-color: $primary-color;

      .check {
        opacity: 1;
      }
    }

    &:not(.selected):hover {
      background: #ebebeb;
    }

    .check {
      width: 6px;
      height: 3px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(-45deg);
      margin-bottom: 2px;
      opacity: 0;
    }
  }

  p {
    font-size: 14px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

