@import "../../layout/mixins";
@import "../../layout/variables";

.form {
  @include form;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    position: absolute;
    top: 30px;
    left: 30px;

    p {
      margin: 0;
      font-size: 25px;
    }
  }

  .container {
    p {
      text-align: center;

      span {
        color: $primary-color;
        font-weight: 600;
        cursor: pointer
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;

    .helper {
      margin-left: 30px;
      margin-right: auto;

      p {
        margin: 0;
        font-size: 14px;
        color: $text-secondary
      }
    }

    .button {
      margin-right: 30px;
      margin-left: auto;
    }
  }



}