.container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    .toast {
      background: #2C2F33;
      padding: 8px;
      border-radius: 2px;
      margin-top: 4px;
      align-items: flex-start;

      p {
        margin: 0;
        padding: 4px;
        color: white;
        font-size: 14px;
      }
    }
  }
}

.enter {
  opacity: .01;
}

.enterActive {
  opacity: 1;
  transition: ease 200ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: .01;
  transition: ease 200ms;
}