@import "../../layout/variables";

.avatarContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .username p {
      color: black
    }
  }

  > img {
    margin-left: 6px;
    -moz-user-select: none;
  }

  .username {
    padding-left: 10px;

    > p {
      font-size: 14px;
      margin: 0;
      color: #919191;
      user-select: none;
    }
  }

  .avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    > img {
      border-radius: 50%;
    }

    > p {
      font-weight: 600;
      font-size: 16px;
      -moz-user-select: none;
      margin: 0
    }

    .online {
      border: 2px solid white;
      border-radius: 50%;
      position: absolute;
      bottom: -2px;
      right: -2px;
      width: 6px;
      height: 6px;
      background: #38cd72;
    }
  }
}

.dropdown {
  > p {
    margin: 0;
    color: #2C2F33;
    font-weight: 600;
  }

  .title {
    padding: 10px;
    background: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: solid 1px $border-color;
    overflow: hidden;
    display: flex;

    .left {
      display: flex;
      align-items: center;
      padding-right: 10px;

      .avatarBig {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .change {
          background: rgba(0, 0, 0, 0.6);
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: .1s ease;

          p {
            color: white;
            font-size: 10px;
            text-align: center;
            margin: 0;
          }
        }

        > p {
          font-weight: 600;
          font-size: 32px;
          -moz-user-select: none;
          color: white;
          margin: 0
        }

        &:hover {
          .change {
            opacity: 1;
          }
        }
      }
    }

    .right {
      > p {
        margin: 4px 0;
      }

      p.name {
        font-weight: 400;
        font-size: 16px;
        white-space: nowrap;
      }

      p.job {
        opacity: .6;
        font-size: 14px;
      }
    }
  }

  .content {
    background: white;
    border: 1px solid $border-color;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;

    p {
      padding: 10px 20px;
      margin: 0;
      font-size: 14px;
      color: #919191;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: black
      }
    }
  }
}

.enter {
  opacity: .01;
}

.enterActive {
  opacity: 1;
  transition: ease 30ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: .01;
  transition: ease 30ms;
}