@import "../layout/variables";

.container {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 550px;
  margin: auto;
  z-index: 3;

  .sub {
    display: flex;
    justify-content: center;
    padding: 20px;

    .cookies {
      background: $black;
      display: flex;
      border-radius: 1px;
      align-items: center;
      justify-content: center;
      padding: 10px;

      .icon {
        margin-right: 10px;

        img {
          height: 30px;
        }
      }

      p {
        font-size: 14px;
        margin: 0 10px 0 0;
        color: white;
      }

      .button {
        display: inline-block;
        background: #ffdf35;
        border-radius: 1px;
        box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.4);
        transition: .3s;
        cursor: pointer;

        &:hover {
          background: #f0d82d;
          box-shadow: 0 2px 30px 0 rgba(255, 223, 53, 0.8);
        }

        p {
          color: black;
          font-size: 14px;
          margin: 10px;
          font-weight: 600;
          -moz-user-select: none;
        }
      }
    }
  }
}