@import "../../../layout/variables";

.titleBar {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  transform: translateY(-1px);
  height: 48px;
  transition: transform cubic-bezier(.23,1,.32,1) 0.2s;
  display: flex;
  align-items: center;
  min-width: 800px;
  background: white;

  &.bottom {
    transform: translateY(calc(100vh - (100px)));
  }

  p {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  > input, a {
    margin-right: 20px;
    margin-left: auto;
  }
}

.main {
  padding: 15px;
  overflow-y: hidden;

  .page {
    transition: transform cubic-bezier(.23,1,.32,1) .2s;

    &.bottom {
      transform: translateY(calc(100vh - (100px)));
    }

    .summary {
      border-radius: 2px;
      border: $border-color 1px solid;
      background: white;
      display: flex;
      padding: 20px;
      align-items: center;

      .divider {
        width: 1px;
        height: 62.1px;
        background: $border-color;
        margin: 0 20px;
      }

      .tab {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 0;
        }

        .number {
          font-size: 14px;
          font-weight: 600;
          color: #b9b9b9;
        }

        .sub {
          text-align: right;
          font-size: 40px;
          font-weight: 600;
        }
      }
    }

    .jobListings {
      background: white;

      .header {
        border: 1px solid $border-color;
        height: 40px;
        margin-top: 15px;
        display: flex;
        align-items: center;

        p {
          font-weight: 600;
          font-size: 18px;
          margin: 0;
          margin-left: 12px;
        }
      }

      .jobListingsBody {
        border: 1px solid $border-color;
        border-top: none;
        padding: 20px;
        display: flex;
        justify-content: flex-start;

        .jobListing {
          border: solid 1px $border-color;
          border-radius: 2px;
          padding: 10px;
          cursor: pointer;


          p {
            margin: 2px;
          }

          .jobTitle {
            font-weight: 600;
            font-size: 16px;
          }

          .jobDepartment {
            font-weight: 600;
            font-size: 14px;
            color: #838991;
          }

          .jobDescription {
            color: #808791;
          }
        }
      }
    }
  }
}