@import "../../layout/mixins";
@import "../../layout/variables";

.progress {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 100%;
  overflow-y: hidden;

  .progressContainer {
    width: 600px;
    display: flex;
    align-items: center;

    .container {
      width: 100%;

      .percentageContainer {

        p {
          margin: 0 0 5px;
          padding-right: 1px;
          font-weight: 600;
          transition: .5s ease;
          max-width: inherit;
        }
      }

      .progressBar {
        position: relative;
        height: 5px;

        .background, .value {
          height: 5px;
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .background {
          width: 100%;
          background: #ebebeb;
        }

        .value {
          background: $primary-color;
          transition: .5s ease;
          z-index: 1
        }
      }
    }


  }

  .info {
    width: 350px;
    padding: 5px;
    margin: 0 0 0 auto;

    p {
      margin: 10px;
    }

    .title {
      font-size: 16px;
      margin-bottom: 4px;
    }

    .details {
      font-size: 14px;
      color: $text-secondary;
      margin-top: 0;
    }
  }
}