@import "../../layout/variables";

.inside {
  display: flex;

  .left {
    flex-grow: 1;
    margin-right: 15px;

    .annotation {
      margin: -4px 0 10px;
      font-size: 12px;
      opacity: .75
    }

    .firstRow {
      > div {
        margin: 0;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }

      > div {
        > div {
          margin: 0;

          &:first-child {
            margin-right: 15px;
            flex-grow: 1;
          }
        }
      }
    }

    .secondRow {
      margin-top: 15px;

      > div {
        > div {
          &:first-child {
            margin-right: 15px
          }

          flex-grow: 1;

          > div {
            margin: 0;
          }
        }
      }

      .checkBox {
        flex-grow: 0;

        > div {
          display: flex
        }

        p.title {
          margin-bottom: 5px;
          font-size: 13px;
          opacity: .75;
        }

        p {
          margin: 0 10px 0 0;
          font-size: 14px
        }

        input {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }

    .thirdRow {
      margin-top: 15px;
      display: flex;

      > div {
        &:not(:last-child) {
          margin-right: 15px;
        }

        flex-grow: 1;
        margin: 0;
      }
    }

    .fourthRow {
      margin-top: 15px;
      display: flex;

      > div {
        &:not(:last-child) {
          margin-right: 15px;
        }

        flex-grow: 1;
        margin: 0;
      }
    }

    .fifthRow, .sixthRow, .seventhRow, .eightRow, .ninthRow, .tenthRow, .eleventhRow {
      display: flex;

      > div {
        &:not(:last-child) {
          margin-right: 15px;
        }

        flex-grow: 1;
        margin: 0;
      }
    }

    .twelfthRow {
      display: flex;

      .children {
        flex-grow: 1;

        > div {
          display: flex;
          margin-left: 15px;

          &:not(:first-child) {
            margin-top: 15px;
          }

          > div {
            &:first-child {
              margin-right: 15px;
              flex-grow: 1;
              flex-basis: 0;
            }

            margin: 0;
          }

          input {
            flex-grow: 1;
          }
        }
      }
    }

    .thirteenthRow, .fourteenthRow {
      > div {
        &:not(:first-child) {
          margin-top: 15px;
        }

        margin: 0;
      }
    }

    .fourteenthRow {
      margin-top: 15px;

      > div > div {
        margin: 0;

        &:not(:first-child) {
          margin-top: 15px;
        }

        &:last-of-type:not(:only-child) {
          margin-bottom: 5px;
        }
      }

      > div > p {
        margin: 0;
        font-size: 13px;
      }
    }

    .ninthRow {
      margin-top: 15px;
    }
  }

  .right {
    width: 320px;
    height: 400px;
    border-radius: 2px;
    border: solid 1px $border-color;
    position: sticky;
    top: 115px;

    &.borderTransparent {
      border-color: transparent;
    }

    &.fixed {
      position: fixed;
      top: 114px;
      right: 31px;
      width: 273px;
    }
  }
}

.hr {
  height: 1px;
  width: 100%;
  margin: 15px 0;
  background: $border-color;
}

.workExperience {
  margin: 0;

  > div {
    margin: 0;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.trainingsAttended {
  margin: 0;
  display: flex;

  > div {
    margin: 0;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.trainingsAttended {
  > div {
    flex-basis: 0;
  }
}

.remove, .addMore {
  cursor: pointer;
  font-size: 14px;
}

.addMore {
  color: $primary-color;
}
